body,ul,h2,p{
    margin:0px;
    padding:0px;
  }

  .content{
    /*border:2px solid red;
    /*background-color: aqua;*/
    width: 1000px;
    margin:100px auto;
  }

  .content h2,p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  video{
    width: 700px;
    margin-left: 150px;
  }

  ul{
    list-style: none;
  }

  a{
    text-decoration: none;
  }

  .claerfix::after{
    content:'';
    display:block;
    clear:both;
  }
  
  .menu{
    width: 100%;
    height: 70px;
    background-color: #fd6a88;
  }

  .menu .menu-con{
    width: 1520px;
    height: 70px;
    padding-left: 1020px;
  }


  .menu .menu-con ul li{
    /*border:1px solid black;*/
    /*width:100px;*/
    height:70px;
    float:left;
    position:relative;
  }

  .menu .menu-con ul li a{
    height:70px;
    display:block;
    padding:0px 40px;
    line-height: 60px;
    color:white;
  }

  .menu .menu-con ul li:hover{
    background-color: #ee4d75;
  }

  .menu .menu-con ul li div{
    width:200px;
    /*height:400px;*/
    background-color:#fd6a88;
    position:absolute;
    left:50%;
    margin-left:-100px;
    top:60px;
    display:none;
  }

  .menu .menu-con ul li div a{
    height: 40px;
    line-height:40px;
    padding:0;
    text-align:center;
  }
  .menu .menu-con ul li div a:hover{
    background-color: #ee4d75;
  }
  .menu .menu-con ul li:hover div{
    display:block;
  }

  .menu h1{
    float:inline-start;
    font-size: 27px;
    margin: 16px auto;
    margin-left: 50px;
  }

  .menu img{
    width: 100px;
    height:100%;
    float:inline-start;
    border-radius:100%;
    margin-left:400px;
  }

.four{
    width: 1226px;
    height: 170px;
    background-color: green;
    margin:20px auto;
}

footer{
  background-color: black;
}

.footerContainer{
  width:100%;
  padding:70px 30px 20px;
}

.socialIcons{ 
  display:flex;
  justify-content: center;
}

.socialIcons a{
  width:45px;
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin:10px;
  border-radius: 100%;
  text-align: center;
  }

.socialIcons a{
    font-size: 2em;
    color:black;
    opacity:0.9;
}

.socialIcons a:hover{
    color: white;
    transition:0.5s;
}

.socialIcons a:hover i{
  color: white;
  transition:0.5s;
}

.footerNav{
  margin:30px 0;
}

.footerNav ul{
  display:flex;
  justify-content:center;
}

.footerNav ul li a{
  color: white;
  margin:20px;
  text-decoration:none;
  opacity:0.7;
  transition:0.5s;
}

.footerNav ul li a:hover{
  opacity:1;
}

.footerBottom{
 background-color: #000;
 padding:20px;
 text-align: center; 
}

.footerBottom p{
  color: white;
}

/* SETMENU */
h4{
  width:100%;
  height:60px;
  background-color: black;
  color: #ddd;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  margin: 0;
}

p2{
  background-color: grey;
  width: 100%;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  /* border:2px solid black; */
  margin-left: 250px;
}

.onetwopax{
width:100%;
height:368px;
margin:50px 0px 0px;
border:2px solid #ddd;
}

.onetwopax img{
float:none;
border-radius:0px;
margin-left:0px;
} 

.onetwopax .product-text{
width: 985px;
height: 368px;
background: #f8f8f8;
margin:-372px 535px;
font-size: 40px;
text-align: center;
}

.threefourpax{
width:100%;
height:368px;
margin:50px 0px 0px;
border:2px solid #ddd;
}

.threefourpax img{
float:none;
border-radius:0px;
margin-left:0px;
} 

.threefourpax .product-text{
width: 990px;
height: 368px;
background: #f8f8f8;
margin:-372px 535px;
font-size: 40px;
}
.threefourpax .product-text ul li{
  list-style:circle;
}

.seveneightpax{
width:100%;
height:500px;
margin:50px 0px 0px;
border:2px solid #ddd;
}

.seveneightpax img{
width:460px;
float:none;
border-radius:0px;
margin-left:0px;
} 

.seveneightpax .product-text{
width: 990px;
height: 500px;
background: #f8f8f8;
margin:-504px 530px;
font-size: 40px;
}

.seveneightpax .product-text h2{
text-align: center;
}
.seveneightpax .product-text ul li{
  list-style:circle;
  font-size: 35px;
}

/* Special Menu */

.valentine{
  width:100%;
  height:1000px;
  background-image:url(picture/Valentines-Day-Skype-Backgrounds-1-1536x864.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20%;
}

h5{
  width: 450px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  font-family: Roboto;
  top:1000px;
  margin-left: 500px;
  margin-top:50px;
  /* border: 5px solid black; */
  color: rgb(247, 69, 99);
}

.fatherday h5{
  width: 450px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  font-family: Roboto;
  top:1000px;
  margin-left: 500px;
  margin-top:50px;
  /* border: 5px solid black; */
  color:black;
}

.motherday{
  width:100%;
  height:1000px;
  background-image: url(picture/vector-happy-mother-s-day-background-with-heart-balloons.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20%;
}

.fatherday{
  width:100%;
  height:1000px;
  background-image: url(picture/fathers-day-background-free-vector.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20%;
}


.chuanchuan{
  width:100%;
  height: 1000px;
  background-image:url(picture/34fe488aed9d4f669bb4b6c88e1e8839_th.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20%;
}

.rose{
width:350px;
height:400px;
margin:50px 300px 0px;
/* border:2px solid #ddd; */
text-align: center;
}

.rose img{
float:none;
border-radius:50%;
margin-left:0px;
} 

.rose .product-text{
height: 119px;
/* background: #f8f8f8; */
/* border:1px solid black; */
margin-top: 15px;
font-size: 30px;
margin-top: 10px;
}

.cakevalentine{
width:350px;
height:400px;
margin:-400px 850px 0px;
/* border:2px solid #ddd; */
text-align: center;
}

.cakevalentine img{
float:none;
border-radius:50%;
margin-left:0px;
} 

.cakevalentine .product-text{
height: 119px;
/* background: #f8f8f8; */
/* border:1px solid black; */
margin-top: 15px;
font-size: 30px;
margin-top: 10px;
}

.cake{
width:400px;
height:400px;
margin:50px 650px 0px;
/* border:2px solid #ddd; */
text-align: center;
}

.cake img{
float:none;
border-radius:50%;
margin-left:0px;
} 

.cake .product-text{
height: 119px;
/* background: #f8f8f8;
border:1px solid black; */
margin-top: 15px;
font-size: 30px;
margin-top: 55px;
}

.flower{
width:350px;
height:400px;
margin:-400px 1100px 0px;
/* border:2px solid #ddd; */
text-align: center;
}

.flower img{
float:none;
border-radius:50%;
margin-left:0px;
} 

.flower .product-text{
height: 119px;
 /* background: #f8f8f8; */
/* border:1px solid black; */
margin-top: 15px;
font-size: 30px;
margin-top: 10px;
}

.cupcake{
width:450px;
height:400px;
margin:210px 900px 0px;
/* border:2px solid #ddd; */
text-align: center;
}

.cupcake img{
float:none;
border-radius:50%;
margin-left:0px;
} 

.cupcake .product-text{
height: 119px;
 /* background: #f8f8f8; */
/* border:1px solid black; */
margin-top: 15px;
font-size: 30px;
margin-top: 10px;
}

.chuanchuan h4{
  color:yellow;
  font-size: 40px;
}

/* Profile */

h1{
  color:black;
}
.login{
  /* background-color: black; */
  width: 400px;
  color: azure;
  padding: 40px;
  box-shadow: 10px 10px 25px black;
  text-align: center;
  margin-left: 200px;
  margin-top: 200px;
}

.login input{
  display:block;
  margin:20px auto;
  text-align: center;
  background: none;
  padding: 10px;
  font-size: 15px;
  border-radius: 22px;
  outline: none;
  color: black;
}

.login input[type="text"], .login input[type="password"] {
  border:2px solid black;
  width:220px;
}

.login input[type="submit"] {
  width: 150px;
  border: 2px solid black;
  cursor:pointer;
}

.login input[type="text"]:focus, .login input[type="password"]:focus{
  border-color: black;
  width:280px;
  transition:0.5s;
}

.login input[type="submit"]:hover{
  background-color: #2ecc71;
  transition: 0.5s;
}

footer{
  margin-top: 120px;
}

/* A La Carte */

h3{
  width:100%;
  height:60px;
  background-color: black;
  color: #ddd;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

.lamb{
width:250px;
height:368px;
margin:20px 20px 0px;
border:2px solid #ddd;
text-align: center;
}

.lamb img{
float:none;
border-radius:0px;
margin-left:0px;
} 

.lamb .product-text{
height: 119px;
background: #f8f8f8;
margin-top: -20px;
font-size: 20px;
text-align: center;
}
.lamb .product-text h2,p{
  margin-top: 15px;
}

.beef{
width:268px;
height:368px;
margin:-370px 300px 0px;
border:2px solid #ddd;
text-align: center;
}

.beef img{
float:none;
border-radius:0px;
margin-left:0px;
} 

.beef .product-text{
height: 119px;
background: #f8f8f8;
margin-top: 15px;
font-size: 20px;
margin-top: 45px;
}

.prawn{
width:268px;
height:368px;
margin:50px 20px 0px;
border:2px solid #ddd;
text-align: center;
}

.prawn img{
float:none;
border-radius:0px;
margin-left:0px;
} 

.prawn .product-text{
height: 119px;
background: #f8f8f8;
margin-top: 15px;
font-size: 20px;
margin-top: 67px;
}

.sotong{
width:268px;
height:368px;
margin:-369px 320px 0px;
border:2px solid #ddd;
text-align: center;
}

.sotong img{
float:none;
border-radius:0px;
margin-left:0px;
} 

.sotong .product-text{
height: 119px;
background: #f8f8f8;
margin-top: 15px;
font-size: 20px;
margin-top: 58px;
}

.scallop{
width:268px;
height:368px;
margin:-369px 615px 0px;
border:2px solid #ddd;
text-align: center;
}

.scallop img{
float:none;
border-radius:0px;
margin-left:0px;
} 

.scallop .product-text{
height: 119px;
background: #f8f8f8;
margin-top: 15px;
font-size: 20px;
margin-top: 67px;
}

.qingcai{
width:268px;
height:400px;
margin:50px 20px 0px;
border:2px solid #ddd;
text-align: center;
}

.qingcai img{
float:none;
border-radius:0px;
margin-left:0px;
} 

.qingcai .product-text{
height: 80px;
background: #f8f8f8;
margin-top: 15px;
font-size: 20px;
margin-top: 46px;
}


.baicai{
width:268px;
height:400px;
margin:-401px 320px 0px;
border:2px solid #ddd;
text-align: center;
}

.baicai img{
float:none;
border-radius:0px;
margin-left:0px;
} 

.baicai .product-text{
height: 80px;
background: #f8f8f8;
margin-top: 15px;
font-size: 20px;
margin-top:115px;
}

.rice{
width:268px;
height:400px;
margin:50px 20px 0px;
border:2px solid #ddd;
text-align: center;
}

.rice img{
float:none;
border-radius:0px;
margin-left:0px;
} 

.rice .product-text{
height: 119px;
background: #f8f8f8;
margin-top: 15px;
font-size: 20px;
margin-top:97px;
}

.udon{
width:268px;
height:400px;
margin:-401px 320px 0px;
border:2px solid #ddd;
text-align: center;
}

.udon img{
float:none;
border-radius:0px;
margin-left:0px;
} 

.udon .product-text{
height: 119px;
background: #f8f8f8;
margin-top: 15px;
font-size: 20px;
margin-top:98px;
}

.yeemee{
width:268px;
height:400px;
margin:-401px 615px 0px;
border:2px solid #ddd;
text-align: center;
}

.yeemee img{
float:none;
border-radius:0px;
margin-left:0px;
} 

.yeemee .product-text{
height: 119px;
background: #f8f8f8;
margin-top: 15px;
font-size: 20px;
margin-top:80px;
}

.oren{
width:268px;
height:550px;
margin:50px 20px 0px;
border:2px solid #ddd;
text-align: center;
}

.oren img{
float:none;
border-radius:0px;
margin-left:0px;
} 

.oren .product-text{
height: 119px;
background: #f8f8f8;
margin-top: 15px;
font-size: 20px;
margin-top:35px;
}

.watermelon{
width:268px;
height:550px;
margin:-550px 320px 0px;
border:2px solid #ddd;
text-align: center;
}

.watermelon img{
float:none;
border-radius:0px;
margin-left:0px;
} 

.watermelon .product-text{
height: 119px;
background: #f8f8f8;
margin-top: 15px;
font-size: 20px;
margin-top:203px;
}

.mango{
width:268px;
height:550px;
margin:-550px 615px 0px;
border:2px solid #ddd;
text-align: center;
}

.mango img{
float:none;
border-radius:0px;
margin-left:0px;
} 

.mango .product-text{
height: 119px;
background: #f8f8f8;
margin-top: 15px;
font-size: 20px;
margin-top:258px;
}

.chocolate{
width:268px;
height:550px;
margin:-550px 900px 0px;
border:2px solid #ddd;
text-align: center;
}

.chocolate img{
float:none;
border-radius:0px;
margin-left:0px;
} 

.chocolate .product-text{
height: 119px;
background: #f8f8f8;
margin-top: 15px;
font-size: 20px;
margin-top:203px;
}

.vanillacake{
width:268px;
height:650px;
margin:50px 20px 0px;
border:2px solid #ddd;
text-align: center;
}

.vanillacake img{
float:none;
border-radius:0px;
margin-left:0px;
} 

.vanillacake .product-text{
height: 119px;
background: #f8f8f8;
margin-top: 15px;
font-size: 20px;
margin-top:375px;
}

.fruittart{
width:268px;
height:650px;
margin:-650px 320px 0px;
border:2px solid #ddd;
text-align: center;
}

.fruittart img{
float:none;
border-radius:0px;
margin-left:0px;
} 

.fruittart .product-text{
height: 119px;
background: #f8f8f8;
margin-top: 15px;
font-size: 20px;
margin-top:125px;
}

.icecream{
width:268px;
height:650px;
margin:-650px 615px 0px;
border:2px solid #ddd;
text-align: center;
}

.icecream img{
float:none;
border-radius:0px;
margin-left:0px;
} 

.icecream .product-text{
height: 119px;
background: #f8f8f8;
margin-top: 15px;
font-size: 20px;
margin-top:175px;
}

.zhima{
width:268px;
height:550px;
margin:50px 20px 0px;
border:2px solid #ddd;
text-align: center;
}

.zhima img{
float:none;
border-radius:0px;
margin-left:0px;
} 

.zhima .product-text{
height: 119px;
background: #f8f8f8;
margin-top: 15px;
font-size: 20px;
margin-top:159px;
}

.soyasauce{
width:268px;
height:550px;
margin:-550px 320px 0px;
border:2px solid #ddd;
text-align: center;
}

.soyasauce img{
float:none;
border-radius:0px;
margin-left:0px;
} 

.soyasauce .product-text{
height: 119px;
background: #f8f8f8;
margin-top: 15px;
font-size: 20px;
margin-top:248px;
}

.cili{
width:268px;
height:550px;
margin:-550px 615px 0px;
border:2px solid #ddd;
text-align: center;
}

.cili img{
float:none;
border-radius:0px;
margin-left:0px;
} 

.cili .product-text{
height: 119px;
background: #f8f8f8;
margin-top: 15px;
font-size: 20px;
margin-top:248px;
}